<app-topHeader></app-topHeader>
<div class="sm:mx-10 mx-3 mb-72">
  <div class="mx-3">
    <p style="display: inline-block; border-bottom: 4px solid #4900bc;" class = "text-2xl my-3">Managerial functions</p>
    <div class="sm:grid sm:grid-cols-4 sm:gap-4">
      <!--firstRow-->
      <div>
        <div (click)="goToJobRequest()" class="flex justify-center">
          <img src="assets/portfolio.png" class="p-10" style="width: 300px; height: 300px;">
        </div>
        <div class="text-center">Job request</div>
      </div>
      <div (click)="goToOrderModule()">
        <div class="flex justify-center">
          <img src="assets/box.png" class="p-10" style="width: 300px; height: 300px;">
        </div>
        <div class="text-center">Orders</div>
      </div>
      <div (click)="gotoFaq()">
        <div class="flex justify-center">
          <img src="assets/help.png" class="p-10" style="width: 300px; height: 300px;">
        </div>
        <div class="text-center">Faq</div>
      </div>
      
      
    </div>
  </div>
</div>
<app-footer></app-footer>