<app-topHeader></app-topHeader>
<div class="mx-3 sm:mx-36 shadow-2xl bg-white my-2">
  <p style="display: inline-block; border-bottom: 4px solid #4900bc;" class = " mx-3 text-2xl my-3">Shop Lists</p>
  
  <div class="sm:flex">
    <div class="mx-3 my-1 sm:w-1/5">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71r5XE1rYAL._AC_SL1500_.jpg" style="width: 200px; height: 200px;"/>
    </div>
    <div class="mx-3 my-1 sm:4/5">
      <div class="font-semibold text-xl">
        13/12/2020 Shop list
      </div>
      <div class="font-semibold text-sm text-gray-500">
       Product name: 
      </div>
      <div class="font-semibold text-sm text-gray-500">
        Price product: 
      </div>
      <div class="font-semibold text-sm text-gray-500">
        Pick-up date chosen: 
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>