<div class="w-full">
  <nav class="bg-white shadow-lg">
      <div class="md:flex items-center justify-between py-2 px-8 md:px-12">
          <div class="flex justify-between items-center">
             <div class="text-2xl font-bold text-gray-800 md:text-3xl">
                  <a href="#">Siberian</a>
             </div>
              <div class="md:hidden">
                  <button type="button" class="block text-gray-800 hover:text-gray-700 focus:text-gray-700 focus:outline-none">
                      <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                          <path class="hidden" d="M16.24 14.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 0 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12l2.83 2.83z"/>
                          <path d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                      </svg>
                  </button>
              </div>
          </div>
          
          <div class="flex flex-col md:flex-row md:block -mx-2">
              <a routerLink="/customerPage" id="logName" routerLinkActive="active" class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2">{{username}}</a>  
              <a routerLink="/login" id="login" routerLinkActive="active" class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2">Login</a>  
              <a routerLink="/orders" id="orders" routerLinkActive="active" class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2 hidden">Shop Lists</a>
              <a routerLink="/sales" id="sales" routerLinkActive="active" class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2 hidden">Sales</a>  
              <a routerLink="/cart" id="cart" routerLinkActive="active" class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2 hidden">Cart</a>
              <a routerLink="/insert" id="insert" routerLinkActive="active" class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2 hidden">Insert Product</a>
              <a routerLink="/registerSale" id="registerSale" routerLinkActive="active" class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2 hidden">Register Sale</a>
              <a routerLink="/home" id = "logout" (click) = "logout()" class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2">Logout</a>
          </div>
      </div>
  </nav>
  
</div>

