<div class="bg-white mt-80">
  <div class="flex justify-center text-xl">
    © 2020 Siberian
  </div>
  <div class="object-bottom w-full md:flex">
    <!-- qua dentro devo andare ad inserirmi praticamente-->
    <div class="md:w-1/2 justify-center">
      <div class="w-full flex justify-center font-medium">About us</div>
      <div class="w-full mx-3">We are a company that deals with the wholesale of technological products. Our company was founded in 1957 in the historic center of Cosenza and is responsible for supplying the sellers of the main components</div>
    </div>
    <div class="md:w-1/4 justify-center mb-3">
      <div class="w-full flex justify-center font-medium">Categories</div>
      <div class="w-full flex justify-center">Vga</div>
      <div class="w-full flex justify-center">Processors</div>
      <div class="w-full flex justify-center">Case</div>
      <div class="w-full flex justify-center">MotherBoard</div>
      <div class="w-full flex justify-center">Monitor</div>
    </div>
    <div class="md:w-1/4 justify-center ">
      <div class="w-full flex justify-center font-medium">Contacts</div>
      <div class="w-full flex justify-center">+39 3895508616</div>
      <div class="w-full flex justify-center">Cosenza, Via del Prato 38</div>
    </div>
  </div>
</div>