<app-topHeader></app-topHeader>

<div class="h-full py-6 flex">
  <div class="bg-white w-full">
    <div class="flex justify-center">
      <div class="md:w-1/3 w-full mx-1 my-3 shadow-2xl bg-white rounded">
        <p style="display: inline-block;   border-bottom: 4px solid #4900bc;" class="text-2xl mx-3 my-3">Login</p>

        <form name="f" th:action="@{/signin}" method="post">
          <fieldset>

              <!-- Login Controls -->
              <div class="form-group">
                  <label for="txtUsername">Username</label>
                  <input type="text" class="form-control" id="txtUsername" name="txtUsername"
                         placeholder="Username">
              </div>

              <div class="form-group">
                  <label for="txtPassword">Password</label>
                  <input type="password" class="form-control" id="txtPassword" name="txtPassword"
                         placeholder="Password">
              </div>

              <!-- Login Button --> 
              <div class="form-actions" style="margin-top: 12px;">
                  <button type="submit" class="btn btn-success">Log in</button>
              </div>
          </fieldset>
      </form>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<style>
  .p-floating-container {
    position: relative;
  }

  .p-floating-container label {
    /* Position the label */
    left: 8px;
    position: absolute;
    top: 0;

    /* Hide it by default */
    opacity: 0;
    transition: 'all 0.2s ease-in-out';
  }

  /* Show the label at desired position when the placeholder of input isn't shown */
  .p-floating-container input:not(:placeholder-shown)+label {
    background: #FFF;
    transform: translate(0, -10%);
    opacity: 1;
    color: #3380FF;
  }

  .p-floating-container textarea:not(:placeholder-shown)+label {
    background: #FFF;
    transform: translate(0, -10%);
    opacity: 1;
    color: #3380FF;
  }
</style>