<app-topHeader></app-topHeader>
<div class="mx-3 sm:mx-36 shadow-2xl bg-white my-2 py-1">
  <p style="display: inline-block; border-bottom: 4px solid #4900bc;" class = " mx-3 text-2xl my-3">Sales</p>
  
  
  <div *ngIf="type == 'employee'" class="sm:mx-10 p-5 bg-white sm:flex">
    <div class ="pt-2 mx-3 p-floating-container sm:w-1/3 w-full">
      <div class="text-black font-semibold">Who?</div>
      <select  name="Users" id="users" class="rounded-sm border py-0 border-gray-500 h-12 w-full">
        <option value="All users">All users</option>
        <option value="{{b}}" *ngFor="let b of usernames">{{b}}</option>  
      </select>
    </div>
    <div class ="mx-3 p-floating-container sm:w-1/3 w-full">
      <div class="text-black font-semibold">When?</div>
      <input type="date" placeholder="Date" id = "date" class = "form-input
              w-full h-12 mt-2 px-3 bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 font-semibold focus:ring-2 focus:ring-blue-600 focus:outline-none placeholder-gray-500 placeholder-opacity-50"/>
    </div>
    
    <div class="pt-8 p-floating-container sm:w-1/3 w-full flex justify-center">
      <button (click)="getProducts(1)" style="color: white; background-color:  #4900bc;" class=" w-full h-12 ">Show purchase</button>
    </div>
  </div>

  <div *ngIf="type == 'customer'" class="sm:mx-10 p-5 bg-white sm:flex">
    <div class ="mx-3 p-floating-container sm:w-2/3 w-full">
      <div class="text-black font-semibold">When?</div>
      <input type="date" placeholder="Date" id="dateCustomer" class = "form-input
              w-full h-12 mt-2 px-3 bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 font-semibold focus:ring-2 focus:ring-blue-600 focus:outline-none placeholder-gray-500 placeholder-opacity-50"/>
    </div>
    
    <div class="pt-8 p-floating-container sm:w-1/3 w-full flex justify-center">
      <button (click)="getProducts(1)" style="color: white; background-color:  #4900bc;" class=" w-full h-12 ">Show purchase</button>
    </div>
  </div>
  
  
  <div class="flex mx-3 my-1" *ngFor="let n of pagedItems;">
    <div class="flex bg-white shadow-lg rounded-lg mx-4 md:mx-auto my-1 max-w-md md:max-w-2xl w-full">
      <div class="flex items-start px-4 py-6">
        <img class="w-12 h-12 rounded-full object-cover mr-4 shadow" src="https://www.flaticon.com/svg/static/icons/svg/1374/1374128.svg">
        <div class="">
            <div class="flex items-center justify-between">
              <h2 class="text-lg font-semibold text-gray-900 -mt-1">{{n.date}}</h2>
            </div>
            <p class="text-gray-700">Total collection: $ {{n.totalPrice}}</p>
            <p class="text-gray-700">Buyer: {{n.customer.username}} ({{n.customer.name}} {{n.customer.surname}})</p>
            <p class="text-gray-700 text-sm">
              The sale is correctly carried out and inserted in the filing system.
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center p-3">
    <ul class="inline-block">
      <li (click)="getProducts(1)" class="inline-block p-3 border border-gray-300 bg-white text-sm font-medium text-gray-700"> 
        <a>First</a>
      </li>
      <li (click) = "getProducts(pager.currentPage-1)" class="inline-block p-3 border border-gray-300 bg-white text-sm font-medium text-gray-700">
        <a>Previous</a>
      </li>
      <li (click) = "getProducts(page)" *ngFor="let page of pager.pages" class="inline-block py-3 px-5 border border-gray-300 bg-white text-sm font-medium text-gray-700">
        <a>{{page}}</a>
      </li>
      <li (click) = "getProducts(pager.currentPage+1)" class="inline-block p-3 border border-gray-300 bg-white text-sm font-medium text-gray-700">
        <a>Next</a>
      </li>
      <li (click)="getProducts(pager.endPage)" class="inline-block p-3 border border-gray-300 bg-white text-sm font-medium text-gray-700">
        <a>Last</a>
      </li>
    </ul>
  </div>
  

</div>
<app-footer></app-footer>