<app-topHeader></app-topHeader>
<div class="mx-3 sm:mx-36 shadow-2xl bg-white my-2 py-1">
  <p style="display: inline-block; border-bottom: 4px solid #4900bc;" class = " mx-3 text-2xl my-3">Sales</p>
  <div class="mx-3 my-1">
    <div class="font-semibold text-xl">
      13/12/2020 Sale
    </div>
    <div class="font-semibold text-sm text-gray-500">
      Buyer: 
    </div>
    <div class="font-semibold text-sm text-gray-500">
      Warahouse code: 
    </div>
    <div class="font-semibold text-sm text-gray-500">
      Number of products sold: 
    </div>
    <div class="font-semibold text-sm text-gray-500">
      Sale date: 
    </div>
    <div class="font-semibold text-sm text-gray-500">
      Total collection:
    </div>
    <div class="font-semibold text-sm text-gray-500">
      <button type = "button" class="h-8 bg-blue-600 w-full sm:w-1/12 mr-1 my-1 sm:my-0" style = "color:#FFF; background-color:#4900bc;">Analyze</button>
      <button type = "button" class="h-8 bg-blue-600 w-full sm:w-1/12 my-1 sm:my-0" style = "color:#FFF; background-color:#4900bc;">Delete</button>
    </div>

  </div>
</div>
<app-footer></app-footer>